<launch>
    <arg name="odom_topic" value="/visual_slam/odom" />
    <arg name="next_distance" value="0.1" />
    <arg name="fligt_type" value="1" />   <!-- 1到4代表4种控制模式 -->
    <arg name="start_plan" value="1" />   <!-- 1表示启动多点规划，0表示不启动 -->
    <arg name="auto_planning" value="0" />   <!-- 1=自动模式(1次8通: 起飞-巡航-自动降落), 0=手动模式(3次8通: 起飞-巡航-降落) -->

    <node pkg="multipoint" name="multipointplan" type="multipointplan" output="screen">
        <remap from="odom_topic" to="$(arg odom_topic)"/>
        <param name="yaml_path" value="$(find multipoint)/config/points.yaml" />
        <param name="next_distance" value="$(arg next_distance)"/>
        <param name="fligt_type" value="$(arg fligt_type)"/>
        <param name="start_plan" value="$(arg start_plan)"/>
        <param name="auto_planning" value="$(arg auto_planning)"/>
        <param name="enable_yaw_align" value="false" type="bool"/>     <!-- true=启用yaw预对准, false=关闭 -->
        <param name="yaw_align_thresh" value="1.8" type="double"/>    <!-- 触发阈值(rad) -->
    </node>
</launch>
